html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
}

button {
    height: 3vh;
}

.container {
    display: flex;  
    flex-direction: column;
    height: 70vh;
    width: 70vh;
}